# Dictionaries: An introduction

In [ ]:
#@title What are the dict( ) methods?

dict_methods = dir(dict)
print(type(dict_methods))

# there are many "Double UNDER score" methods
# These are also called DUNDER methods
# these are called "magic" methods and these are used by python internally
# We will cover these later on
print("\n\nDictionary methods are: ")
for command in dict_methods:
  if '__' not in command:
    print('-->', command)

<class 'list'>


Dictionary methods are:
--> clear
--> copy
--> fromkeys
--> get
--> items
--> keys
--> pop
--> popitem
--> setdefault
--> update
--> values

In [ ]:
#@title Creating an empty dictionary (add adding keys)
# You can create a dictionary in one of the two ways
students  = {}
#students = dict()

# You can add key value pairs through index notation.
students[101] = "anna"
students[102] = "bindu"
students[103] = "chris"

print(students)
print(type(students))

{101: 'anna', 102: 'bindu', 103: 'chris'}
<class 'dict'>

In [ ]:
#@title Creating a dictionary and adding keys in one step
# You can create a dictionary in one of the two ways
students  = { 101: "anna",
              102: "bindu",
              103: "chris"}
print(students)

{101: 'anna', 102: 'bindu', 103: 'chris'}

In [ ]:
#@title you can use the built-in function len( ) on the dictionaries
students  = { 101: "anna",
              102: "bindu",
              103: "chris"}
print('Length of the dictionary = Number of KEYS = ', len(students))

Length of the dictionary = Number of KEYS =  3

In [ ]:
#@title Accessing a KEY through index notation
y = students[102]
print("the value of the key 102: ", y)

the value of the key 102:  bindu

In [ ]:
#@title Accessing a KEY through get() method
x = students.get(101)
print("the value of the key 101: ", x)

y = students[101]
print("the value of the key 101: ", y)

the value of the key 101:  anna
the value of the key 101:  anna

In [ ]:
#@title Watch out for KeyError
# You can not access a KEY that doesn't exist
students  = { 101: "anna",
              102: "bindu",
              103: "chris"}

x = students[101]  # ok
print('student at key 101: ', x)
y = students[999]  # not ok
print('student at key 999: ', y)

student at key 101:  anna

KeyError: ignored

In [ ]:
#@title Check to see whether a Key exists (before accessing its value)
if 999 in students:
  y = students[999]  # not ok
  print('student at key 999: ', y)

In [ ]:
#@title Checking for membership
books = {}

books['101'] = "python"
books['999'] = "Time Magazine"
books['102'] = "java"
books['103'] = "javascript"

# check whether a specific key is in dictionary or not
key_to_find = '101'
if key_to_find in books:
  print("key", key_to_find, "is found.")
  print("its value is: ", books[key_to_find])

key_to_find = 'abc'
# the following will give a KEY error.
# So, it is a good idea to check whether KEY exists or not
#print(books[key_to_find])
if key_to_find in books:
  print("key", key_to_find, "is found:")
  print("its value is: ", books[key_to_find])
else:
   print("key", key_to_find, "is NOT found.")

key 101 is found.
its value is:  python
key abc is NOT found.

In [ ]:
#@title checking for membership (inverse operation)
some_key = 999
# not in
if some_key not in books:
  print(some_key, 'not found')
else:
  print(some_key, 'key found')

999 not found

In [ ]:
#@title Traversal of a dictionary (KEYS)
# create an empty dictionary
customers = {}

# We need two things: key and value
# assume key = id and value = name

# add some customers to the dictionary
customers['999'] = 'Alice'
customers['101'] = 'John Doe'
customers['abc'] = 'Bob'
customers['102'] = 'Jane Doe'
customers['pqr'] = 'Bob Jr.'
customers['456'] = 'Scooby'

# Navigating the dictionary
for key in customers:
  print(key)


# for key in customers.keys():
#   print(key)

# Navigating the dictionary
# dictionary.keys()  or dictionary
print("dictinary = dictionary.keys()")
for key in customers.keys():
  print(key)

999
101
abc
102
pqr
456

In [ ]:
#@title Traversal of dictionaries (VALUES)

for value in customers.values():
  print(value)

Alice
John Doe
Bob
Jane Doe
Bob Jr.
Scooby

In [ ]:
#@title Traversal of dictionaries (KEYS and VALUES)
# create an empty dictionary
customers = {}

# We need two things: key and value
# assume key = id and value = name

# add some customers to the dictionary
customers['999'] = 'Alice'
customers['101'] = 'Jooby'
customers['456'] = 'Dooohn Doe'
customers['abc'] = 'Bob'
customers['102'] = 'Jane Doe'
customers['pqr'] = 'Bob Jr.'
customers['456'] = 'Sc'

for key, value in customers.items():
  print(key, '-->', value)

# for index, value in enumerate(my_list):
#   print(index, '-->', value)

999 --> Alice
101 --> Jooby
456 --> Sc
abc --> Bob
102 --> Jane Doe
pqr --> Bob Jr.

In [ ]:
#@ title Add the following key to the dictionary
key = "888"
value = "siva jasthi"

customers[key] = value

for key in customers:
  value = customers[key]
  print("ID: ", key, "Name: ", value)

ID:  999 Name:  Alice
ID:  101 Name:  John Doe
ID:  abc Name:  Bob
ID:  102 Name:  Jane Doe
ID:  pqr Name:  Bob Jr.
ID:  456 Name:  Doo
ID:  888 Name:  siva jasthi

In [ ]:
# add the following key to the dictionary
key = "888"
value = "alex"

customers[key] = value

for key in customers:
  value = customers[key]
  print("ID: ", key, "Name: ", value)

ID:  999 Name:  Alice
ID:  101 Name:  John Doe
ID:  abc Name:  Bob
ID:  102 Name:  Jane Doe
ID:  pqr Name:  Bob Jr.
ID:  456 Name:  Doo
ID:  888 Name:  alex

In [ ]:
# How can I store both name and email in the value field?
# create an empty dictionary
customers = {}

# We need two things: key and value
# assume key = id and value = name

# add some customers to the dictionary
customers['999'] = ['Alice', "alice@gmail.com"]
customers['101'] = ['John Doe', "john_doe@yahoo.com"]
customers['abc'] = ['Bob', 'bob@yahoo.com']
customers['102'] = ['Jane Doe', 'jane_doe@aol.com']
customers['pqr'] = ['Bob Jr.', 'bob_jr@gmail.com']
customers['456'] = ['Scooby', 'scooby1@gmail.com']
customers['457'] = ['Scooby', 'scooby2@gmail.com']

for key in customers:
  value = customers[key]
  print("ID: ", key, "Name: ", value)

ID:  999 Name:  ['Alice', 'alice@gmail.com']
ID:  101 Name:  ['John Doe', 'john_doe@yahoo.com']
ID:  abc Name:  ['Bob', 'bob@yahoo.com']
ID:  102 Name:  ['Jane Doe', 'jane_doe@aol.com']
ID:  pqr Name:  ['Bob Jr.', 'bob_jr@gmail.com']
ID:  456 Name:  ['Scooby', 'scooby1@gmail.com']
ID:  457 Name:  ['Scooby', 'scooby2@gmail.com']

In [ ]:
# Update the dictionary so that the value has a third field called ID which is same as the KEY.

# ID:  999 Name:  ['Alice', 'alice@gmail.com', 999]
# ID:  101 Name:  ['John Doe', 'john_doe@yahoo.com', '101'
# ID:  abc Name:  ['Bob', 'bob@yahoo.com','abc']
# ID:  102 Name:  ['Jane Doe', 'jane_doe@aol.com', '102']
# ID:  pqr Name:  ['Bob Jr.', 'bob_jr@gmail.com', 'pqr']
# ID:  456 Name:  ['Scooby', 'scooby1@gmail.com', '456']
# ID:  457 Name:  ['Scooby', 'scooby2@gmail.com''457']

for key in customers:
  current_value = customers[key]
  current_value.append(key)
  # customers[key] = current_value


for key in customers:
  value = customers[key]
  print("ID: ", key, "Name: ", value)

ID:  999 Name:  ['Alice', 'alice@gmail.com', '999']
ID:  101 Name:  ['John Doe', 'john_doe@yahoo.com', '101']
ID:  abc Name:  ['Bob', 'bob@yahoo.com', 'abc']
ID:  102 Name:  ['Jane Doe', 'jane_doe@aol.com', '102']
ID:  pqr Name:  ['Bob Jr.', 'bob_jr@gmail.com', 'pqr']
ID:  456 Name:  ['Scooby', 'scooby1@gmail.com', '456']
ID:  457 Name:  ['Scooby', 'scooby2@gmail.com', '457']

In [ ]:
#@title Update Value for a Key
#How do you update the value for a KEY?
# Simply assign a value to the existing key. And the value will be updated
books = {}

books['101'] = "python"
books['102'] = "java"
for key, value in books.items():
  print(key, '-->', value)

books['101'] = "javascript"

for key, value in books.items():
  print(key, '-->', value)

101 --> python
102 --> java
101 --> javascript
102 --> java

In [ ]:
#@title Removing a KEY (pop)
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "cost": 90000,
  "is_new": True
}


print('Getting the list of key-value pairs before POP')
for key, value in car.items():
  print(key, '-->', value)

car.pop("model")

print('\n\nGetting the list of key-value pairs after POP')
for key, value in car.items():
  print(key, '-->', value)

print("\n\nAdding some more keys")
car['company'] = 'Ford'
car['is_new'] = False

print('Getting the list of key-value pairs after adding some more keys')
for key, value in car.items():
  print(key, '-->', value)

#key error
print()
key = 'jkl'
if key in car:
  car.pop('jkl')
else:
  print(key, 'is not found')

Getting the list of key-value pairs before POP
brand --> Ford
model --> Mustang
year --> 1964
cost --> 90000
is_new --> True


Getting the list of key-value pairs after POP
brand --> Ford
year --> 1964
cost --> 90000
is_new --> True


Adding some more keys
Getting the list of key-value pairs after adding some more keys
brand --> Ford
year --> 1964
cost --> 90000
is_new --> False
company --> Ford

jkl is not found

In [ ]:
#@title Removing the last Key (popitem)
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "cost": 90000,
  "is_new": True
}


print('\nTest 1: Getting the list of key-value pairs')
for key, value in car.items():
  print(key, '-->', value)

car.popitem()


print('\nTest 2: Getting the list of key-value pairs after popitem()')
for key, value in car.items():
  print(key, '-->', value)

car['company'] = 'Ford'



print('\nTest 3: Getting the list of key-value pairs after adding a key "company"')
for key, value in car.items():
  print(key, '-->', value)

car.popitem()


print('\nTest 4: Getting the list of key-value pairs after popitem()')
for key, value in car.items():
  print(key, '-->', value)

Test 1: Getting the list of key-value pairs
brand --> Ford
model --> Mustang
year --> 1964
cost --> 90000
is_new --> True

Test 2: Getting the list of key-value pairs after popitem()
brand --> Ford
model --> Mustang
year --> 1964
cost --> 90000

Test 3: Getting the list of key-value pairs after adding a key "company"
brand --> Ford
model --> Mustang
year --> 1964
cost --> 90000
company --> Ford

Test 4: Getting the list of key-value pairs after popitem()
brand --> Ford
model --> Mustang
year --> 1964
cost --> 90000

In [ ]:
#@title Removing a Key (through "del")
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "cost": 90000,
  "is_new": True
}

print(car)
del car['model']
del car['cost']
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'cost': 90000, 'is_new': True}

KeyError: ignored

In [ ]:
#@title Dictionary from keys list

keys_list = [101, 102, 103, 104, 105]
names_dict = dict.fromkeys(keys_list)
print(names_dict)

names_dict_1 = dict.fromkeys(keys_list, "abc")
print(names_dict_1)

number_dictionary = dict.fromkeys(range(1,11), "pqr")
print(number_dictionary)

{101: None, 102: None, 103: None, 104: None, 105: None}
{101: 'abc', 102: 'abc', 103: 'abc', 104: 'abc', 105: 'abc'}
{1: 'pqr', 2: 'pqr', 3: 'pqr', 4: 'pqr', 5: 'pqr', 6: 'pqr', 7: 'pqr', 8: 'pqr', 9: 'pqr', 10: 'pqr'}

In [ ]:
#@title Deleting vs Clearing the dictionary
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "cost": 90000,
  "is_new": True
}


print('Getting the list of key-value pairs')
print("Number of items in the dictionary: ", len(car))
for key, value in car.items():
  print(key, '-->', value)

# All the items from the dictionary are cleared.
# However, the dictionary will still remain.
car.clear()
print('Getting the list of key-value pairs after clearing')
print("Number of items in the dictionary: ", len(car))
for key, value in car.items():
  print(key, '-->', value)

del car
print('Getting the list of key-value pairs after deleting')
# the following will give NameError because car no longer exists
#print("Number of items in the dictionary: ", len(car))

Getting the list of key-value pairs
Number of items in the dictionary:  5
brand --> Ford
model --> Mustang
year --> 1964
cost --> 90000
is_new --> True
Getting the list of key-value pairs after clearing
Number of items in the dictionary:  0
Getting the list of key-value pairs after deleting

In [ ]:
#@title Sorting a dictionary by KEY
names_hobbies = {}
names_hobbies['chris'] = "singing"
names_hobbies['diane'] = "reading"
names_hobbies['barb'] = "movies"
names_hobbies['anna'] = "travel"

print('before sorting')
for k, v in names_hobbies.items():
  print(k, '-->', v)

print('\n\nafter sorting')
keys_list = names_hobbies.keys()
sorted_keys = sorted(keys_list)
for key in sorted_keys:
  value = names_hobbies[key]
  print(key, '-->', value)

before sorting
chris --> singing
diane --> reading
barb --> movies
anna --> travel


after sorting
anna --> travel
barb --> movies
chris --> singing
diane --> reading

In [1]:
#@title Sorting a dictionary by VALUE (Strings)
my_dict = {}
my_dict['chris'] = "flying"
my_dict['diane'] = "reading"
my_dict['barb'] = "movies"
my_dict['anna'] = "boating"

print('Given dictionary: ', my_dict)

# sort the dictionary by values in ascending order
sorted_dict = dict(sorted(my_dict.items(), key=lambda item: item[1]))

# print the sorted dictionary
print('Sorted Dictionary By Value: ', sorted_dict)

#TODO: How to order the string values in descending order?

Given dictionary:  {'chris': 'flying', 'diane': 'reading', 'barb': 'movies', 'anna': 'boating'}
Sorted Dictionary By Value:  {'anna': 'boating', 'chris': 'flying', 'barb': 'movies', 'diane': 'reading'}

In [ ]:
#@title Sorting a Dictionary (first by value, then by key)
import json

abc = {
    "banana": "yellow",
    "apple": "red",
    "grape": "purple",
    "orange": "orange",
    "cherry": "red",
    "pear": "green"
}

# Sort the dictionary by value and then by key
sorted_abc = sorted(abc.items(), key=lambda item: (item[1], item[0]))

# Create a new dictionary from the sorted list of tuples
sorted_dict = dict(sorted_abc)

# Pretty print the sorted dictionary
pretty_sorted_dict = json.dumps(sorted_dict, indent=4)
print(pretty_sorted_dict)

{
    "pear": "green",
    "orange": "orange",
    "grape": "purple",
    "apple": "red",
    "cherry": "red",
    "banana": "yellow"
}

In [2]:
#@title Sorting keys, values in ascending/descending order
my_dict = {}
my_dict['chris'] = 100
my_dict['diane'] = 300
my_dict['barb'] = 88
my_dict['anna'] = 99

print('Given dictionary')
print(my_dict)

# sort the dictionary by values in ascending order
sorted_dict = dict(sorted(my_dict.items(), key=lambda item: item[1]))

# print the sorted dictionary
print('Sorted the values in ascending order')
print(sorted_dict)


# sort the dictionary by values in descending order
sorted_dict = dict(sorted(my_dict.items(), key=lambda item: -item[1]))

# print the sorted dictionary
print('Sorted the values in descending order')
print(sorted_dict)

Given dictionary
{'chris': 100, 'diane': 300, 'barb': 88, 'anna': 99}
Sorted the values in ascending order
{'barb': 88, 'anna': 99, 'chris': 100, 'diane': 300}
Sorted the values in descending order
{'diane': 300, 'chris': 100, 'anna': 99, 'barb': 88}

In [ ]:
#@title Keys are immutable (What can be used as a KEY?)
names_hobbies = {}
names_hobbies['chris'] = "singing"
names_hobbies[4] = "reading"
names_hobbies[True] = "movies"
names_hobbies[4.5] = "travel"


# How can I change the KEY value from "chris" to "rock"?
# you must delete the key, and add a new key


# Using a tuple as the key
x = (4,5)
names_hobbies[x] = "TV"

print(names_hobbies)

# #Using a list as the key (not permitted)
# y = [5,6]
# names_hobbies[y] = "456"


#TypeError: unhashable type: 'list' --> You are trying to use an mutable type as a KEY. You can not do that.

{'chris': 'singing', 4: 'reading', True: 'movies', 4.5: 'travel', (4, 5): 'TV'}

In [ ]:
#@title Adding two dictionaries

car1 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car2 = {
  "color": "black",
  "price": 20000,
  "new": False
}

whole_car = { }
whole_car.update(car1)
whole_car.update(car2)

for k,v in whole_car.items():
  print(k, '-->', v)

brand --> Ford
model --> Mustang
year --> 1964
color --> black
price --> 20000
new --> False

In [ ]:
#@title set default value for the key
# if key exists, return its value
# if the key doesn't exist, add the key with the default value
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

# x = car.setdefault("model", "Bronco")
# print('Before setting the default key: ', car)
# y = car.setdefault("price", 100)
# print('After setting the default key: ', car)

car.setdefault("model", "Bronco")
print('Before setting the default key: ', car)
car.setdefault("price", 100)
print('After setting the default key: ', car)

Before setting the default key:  {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
After setting the default key:  {'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'price': 100}

In [ ]:
#@title check other methods in the dictionary

# Quizzes
- https://realpython.com/quizzes/python-dicts/  (9 questions)
- https://pynative.com/python-dictionary-quiz/ (14 questions)
- https://www.geeksforgeeks.org/python-dictionary-quiz/ (30 questions)

In [ ]:
def select_key(word):
  return word[0]

mfg = [ ['a', 10], ['x', 10], ['c', 10] ]

print(mfg)
mfg_s = sorted(mfg, key=select_key)
print(mfg_s)

[['a', 10], ['x', 10], ['c', 10]]
[['a', 10], ['c', 10], ['x', 10]]